<h3>Solution</h3>
<form action="" method="post">
	<label for="title">Title</label>
	<input type="text" name="assessment_attempt[title]" value="" id="title" />
	<br />
	<label for="solution">Solution</label>
	<div id="editor">
		some code
	</div>
	<style type="text/css" media="screen">
	    #editor { 
	        position: relative;
	        height: 400px;
	    }
	</style>
	<script type="text/javascript" charset="utf-8">
  	 var editor = ace.edit("editor");
     editor.setTheme("ace/theme/monokai");
     editor.getSession().setMode("ace/mode/ruby");
	</script>
	<textarea name="assessment_attempt[solution]" id="solution"></textarea>
	<br />
	
	
	<input type="hidden" name="authenticity_token" value="" id="authenticity_token">
	<p><input type="submit" value="Run Tests" class="btn btn-primary"></p>
</form>
