<form action="/session" method="post" accept-charset="utf-8">
	<label for="username">username</label>
	<input type="text" name="username" value="" id="username">
	<br />
	<label for="password">password</label>
	<input type="password" name="password" value="" id="password">
	<br />
	<p><input type="submit" value="Login"></p>
</form>
<a href="/users/new">Sign Up</a>