<h3>Spec</h3>
<form action="/assessments" method="post" accept-charset="utf-8">
	<label for="title">Title</label>
	<input type="text" name="assessment[title]" value="" id="title">
	<br />
	
	<label for="time_limit">Time Limit</label><br />
	<input type="text" name="assessment[time_limit]" value="" id="time_limit" placeholder="mins">
	<br />
	
	<label for="instructions">Instructions</label><br />
	<textarea name="assessment[instructions]" id="instructions" rows="10" cols="60">
	</textarea>
	<br />
	
	<label for="specs">Specs</label><br />
	<textarea name="assessment[specs]" id="specs" rows="10" cols="60">
	</textarea>
	<br />
	
	<label for="specs">Skeleton</label><br />
	<textarea name="assessment[skeleton]" id="specs" rows="10" cols="60">
	</textarea>
	<br />
	
	<label for="language">Language</label><br />
	<select name="assessment[language]" id="language">
		<option>ruby</option>
	</select>
	<br />
	
	<label for="difficulty">Difficulty</label><br />
	<input type="text" name="assessment[difficulty]" value="" id="difficulty" placeholder="1 (easy) - 5 (hard)">
	
	<input type="hidden" name="authenticity_token" value="" id="authenticity_token">
	<p><input type="submit" value="Submit Assessment"></p>
</form>