<h1>Assessments</h1>
<ul>
<% assessments.each(function(assessment) { %>
	<li>
		<a href="#assessments/<%= assessment.escape("id") %>">
			<%= assessment.escape("title") %>
		</a>
	</li>
<% }); %>
</ul>
<a href="#assessments/new" class="btn btn-success">New Assessment</a>
<% if(assessments.length == 0) { %>
	<a href="#assessments/demo" class="btn">Demo</a>
<% } %>