<footer class="footer">
	<div class="container">
		<hr />
		<div class="span3">
			<ul class="nav">
				<li><a href="/#assessments">Assessments</a></li>
				<li><a href="/languages">Languages</a></li>
				<li><a href="/prices">Prices</a></li>
				<li><a href="/contact">Contact Us</a></li>
			</ul>
			James
			
		</div>
	</div>
</footer>
